#portfolio {
    margin-left: 20%;
    margin-right: 20%;
}

.portfolio__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.portfolio__img {
    max-width: 100%;
    opacity: 0.7;
    -webkit-box-shadow: -2px 3px 22px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 3px 22px 10px rgba(0,0,0,0.75);
    box-shadow: -2px 3px 22px 10px rgba(0,0,0,0.75);
}

.portfolio__img:hover {
    opacity: .3;
    -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.single-project em {
    color: white;
    font-size: 13px;
    letter-spacing: 3px;
    position: absolute;
    left: -52px;
    z-index: 3;
    opacity: 1;
    transition: all .4s ease;
    display: inline-block;
    padding-left: 10px;
    width: 240px;
    height: 30px;
    background-color:rgba(217, 217, 217, 0.5);
    text-align: center;
    padding-top: 15px;
    margin-top: 3%;
}


.single-project em:hover {
    opacity: 1;
}

figcaption {
    color: #FFFFFF;
    bottom: 100px;
    left: 20px;
    font-size: 60px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 3px;
    position: relative;
    z-index: 5;
}

.link {
    text-decoration: none;
}

