@import "./cssreset.css";

#project-page {
    position: absolute;
    left: 15%;
    top: 3%;
    width: 800px;
    height: 600px;
}

body {
	overflow-x: hidden;
    color: #FFFFFF;
    background-color: #1A1A1A;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: 'Medula One', cursive;
	line-height: 1;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding: 25px;
    font-size: 20px;
}

a:hover {
    text-decoration: none;
    color: #40E0D0;
    font-size: 20px;
}

/* Clost Button */
.close-this a {
    font-family: 'Abel', sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 4px;
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.8);
    background: #1F1F1F;
    padding: 3px 15px;
}

.close-this a i {
    margin: 0 10px;
}

.close-this a:hover {
    text-decoration: none;
}

/* End of Close Button */


.project-links {
    padding-top: 50px;
    position: relative;
    text-align: center;
}

p {
	font-family: 'Abel', sans-serif;
	line-height: 2;
    font-size: 20px;
}

.title {
    font-size: 2.1em;
    line-height: 1em;
    font-weight: 700;
    padding-bottom: 45px;
    letter-spacing: 10px;
    text-align: center;
}

.container {
	width: 900px;
}


.img-container {
    width: 600px;
}

img {
    width: 100%;
    height: auto;
}

.img-container {
    margin-bottom: 30px;
    position: relative;
    left: 15%;
}


/* MEDIA QUERIES 700PX - 1082PX */
@media screen and (min-width: 701px) and (max-width: 1082px) {
    #project-page {
        top: 3%;
        text-align: center;
    }

    .container {
        width: 600px;
    }

    .img-container {
        width: 500px;
        left: 9%;
    }

    .project-details {
        width: 500px;
        margin-left: 45px;
    }

    p {
        font-family: 'Abel', sans-serif;
        line-height: 2;
        font-size: 1em;
    }

    a {
        font-size: 1.2em;
    }
    
    .title {
        font-size: 1.2em;
        line-height: 1em;
        font-weight: 700;
        padding-bottom: 45px;
        letter-spacing: 7px;
    }
}


/* MEDIA QUERIES 450PX - 700PX */
@media screen and (min-width: 450px) and (max-width: 700px) {
    #project-page {
        top: 3%;
        text-align: center;
    }

    .container {
        width: 400px;
    }

    .img-container {
        width: 350px;
        left: 9%;
    }

    .project-details {
        width: 360px;
        margin-left: 35px;
    }

    p {
        font-family: 'Abel', sans-serif;
        line-height: 2;
        font-size: 1em;
    }

    a {
        font-size: 1.2em;
    }
    
    .title {
        font-size: 1.2em;
        line-height: 1em;
        font-weight: 700;
        padding-bottom: 45px;
        letter-spacing: 7px;
    }
}

/* MEDIA QUERIES max-width: 449PX*/
@media screen and (max-width: 449px) {
    #project-page {
        position: absolute;
        left: 10%;
        top: 3%;
        text-align: left;
    }

    .container {
        width: 300px;
    }

    .img-container {
        width: 250px;
        left: 0;
    }

    .project-details {
        width: 300px;
        margin-left: 0;
    }

    p {
        font-family: 'Abel', sans-serif;
        line-height: 2;
        font-size: .8em;
    }

    a {
        font-size: 1em;
        display: inline-block;
    }
    
    .title {
        font-size: 1em;
        line-height: 1em;
        font-weight: 700;
        padding-bottom: 45px;
        letter-spacing: 7px;
    }
}