@media screen and (min-width: 940px) and (max-width: 1115px) {
    .about__me p, .featuredWork__about p, .interest__col p {
      font-size: 17px;
    }

    .showcase__wrapText {
        font-size: 130px;
    }

    .showcase__wrap {
        bottom: 40%;
    }

    .about__content {
        top: 50%;
    }

    .about__skills {
        top: 50%;
    }

    .circle1 {
        display: none;
    }

    .featuredWork__img {
        width: 300px;
    }

    .circle6 {
        left: 170px;
        bottom: -155px;
    }
  }

  @media screen and (min-width: 740px) and (max-width: 939px) {
      .showcase__backgroundText {
          display: none;
      }

      .showcase__sidewaysText {
          font-size: 15px;
      }

      .showcase__wrap {
          top: 2%;
      }

      .showcase__wrapText {
          font-size: 100px;
      }

      #sticky {
          display: none!important;
      }

      .share-this {
        position: fixed;
        left: 79%;
        bottom: 80%;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
      }

      .about__content {
          top: 40%;
      }

      .about__skills {
          top: 60%;
      }

      .featuredWork__about {
          display: none;
      }

      .featuredWork__img img {
          width: 250px;
      }

      #portfolio {
          margin-left: 10%;
      }

      .portfolio__img {
          max-width: 50%;
      }

      .portfolio__projectTwo em, .portfolio__projectFour em {
          left: 50px;
      }

      figcaption {
          font-size: 40px;
          bottom: 70px;
      }

      .title {
          font-size: 50px!important;
      }

      .interest__col p {
          padding-bottom: 50px;
      }

      #contact {
          min-height: 80vh;
      }

      .contact__wrap {
          padding-top: 25px;
      }

      .contact__textWrap {
          font-size: 50px;
      }

      .circle1 {
        position: absolute;
        top: 133px;
        left: 75%;
      }

      .circle2, .circle5 {
          display: none;
      }

      .lg {
          width: 30px;
          height: 30px;
      }


  }