body {
    background-color: #1A1A1A;
}

.shareBanner__list {
    text-align: center;
    position: relative;
    top: 250px;
}

.shareBanner__list li {
    list-style-type: none;
    display: inline-block;
    width: 200px;
    height: 400px;
    border-radius: 20%;
    background-color: #1F1F1F;
    color: white;
    min-width: 100px;
    height: 250px;
    margin: 2%;
    cursor: pointer;
    -webkit-box-shadow: -2px 3px 22px 10px rgba(0,0,0,0.15);
    -moz-box-shadow: -2px 3px 22px 10px rgba(0,0,0,0.15);
    box-shadow: -2px 3px 22px 10px rgba(0,0,0,0.15);
}

.shareBanner__list i {
    color: white;
    font-size: 50px;
    top: 40%;
    position: relative;
}

.close-this {
    position: fixed;
    left: 3px;
    bottom: 17%;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    z-index: 3;
    cursor: pointer;
    -webkit-box-shadow: -2px 3px 22px 10px rgba(0,0,0,0.05);
    -moz-box-shadow: -2px 3px 22px 10px rgba(0,0,0,0.05);
    box-shadow: -2px 3px 22px 10px rgba(0,0,0,0.05);
}

.close-this a {
    font-family: 'Abel', sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 4px;
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.8);
    background: #1F1F1F;
    padding: 3px 15px;
}

.close-this a i {
    margin: 0 10px;
}

.close-this a:hover {
    text-decoration: none;
}

/* Responsive Design */

@media screen and (max-width: 450px) {
    .shareBanner__list {
        text-align: center;
        position: relative;
        top: 0;
    }

    .shareBanner__list li {
        list-style-type: none;
        display: inline-block;
        max-width: 130px;
        border-radius: 20%;
        background-color: #1F1F1F;
        color: white;
        height: 150px;
        margin: 6%;
    }
}
